<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tinymall.Dao.OrderDao">
    <insert id="startOrder" parameterType="Orders">
        insert into [Orders](UID,GID,address) values (#{UID},#{GID},#{address})
    </insert>
    <select id="findGoods" resultType="Good">
        select * from [Good] where GID = #{gid}
    </select>
    <delete id="cancelOrder" parameterType="Orders">
        delete from [Orders] where OID = #{oid}
    </delete>
    <select id="findOrders" resultType="Orders">
        select * from [Orders] where OID = #{oid}
    </select>
</mapper>